@model IEnumerable<AGS.ERP.Application.ViewModel.EnderecoViewModel>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<div class="form-group">
    <a href="#" id ="btnAddEndereco" name="btnAddEndereco" onclick="addEndereco()" class="btn btn-success btn-sm">
        <i class="fas fa-plus"></i> Adicionar</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CEP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logradouro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Complemento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoEndereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CEP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Logradouro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Numero)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Complemento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bairro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoEndereco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado.UF)
                </td>
                <td>
                    <a href="#" class="btn btn-primary btn-sm" onclick="editEndereco(@item.EnderecoId)">
                        <i class="fas fa-pencil-alt"></i></a> 
                    <a onclick="detalhesEndereco(@item.EnderecoId)" class="btn btn-info btn-sm">
                        <i class="glyphicon glyphicon-info-sign"></i></a> 
                    <a onclick="confirmDeleteEndereco(@item.EnderecoId)"  class="btn btn-danger btn-sm">
                        <i class="far fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="modalEndereco" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-lg">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Endereço</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="divCamposEndereco" class="form-group"></div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnModalClose" class="btn btn-danger" data-dismiss="modal">
                    <i class="fas fa-times"></i> Cancelar</button>
                <button type="button" id="btnSalvarEndereco" onclick="salvarEnderecoCliente()" class="btn btn-primary">
                    <span class="glyphicon glyphicon-floppy-saved"></span> Salvar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEnderecoDetalhes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-lg">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Endereço</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="divCamposEndereco" class="form-group"></div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnModalClose" class="btn btn-danger" data-dismiss="modal">
                    <i class="fas fa-times"></i> Cancelar
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Excluir Endereço</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="idEnderecoDelete" value=0/>
                <p>Deseja realmente excluir?</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnModalClose" class="btn btn-danger" data-dismiss="modal">
                    <i class="fas fa-times"></i> Cancelar
                </button>
                <button type="button" id="btnSalvarEndereco" data-id=0 onclick="deleteEndereco()" class="btn btn-success">
                    <i class="fas fa-check"></i> Confirmar
                </button>
            </div>
        </div>
    </div>
</div>